//==========================================================================
//_header.scss
//==========================================================================
@use "../global" as *;

//-----------------------------------------------------------------
//.l-header
//-----------------------------------------------------------------
.l-header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
}
.l-header__inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.l-header-nav__list {
  display: flex;
  gap: 24px;
  a {
    font-size: 1.6rem;
  }
}