//==========================================================================
//_header.scss
//==========================================================================
@use "../global" as *;

//-----------------------------------------------------------------
//.l-header
//-----------------------------------------------------------------
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
}